@media (min-width: 1367px) {
	.container {
		max-width: 1266px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1366px) {
	html {
		font-size: 15px;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.73rem;
	}

	.section-title p {
		margin-top: 1.86rem;
	}

	h2 {
		font-size: 2.4rem;
		line-height: 2.93rem;
	}

	/*header*/
	form.headerSearchform {
		width: 381px;
		margin: 0 3rem 0 2.73rem;
	}

	.header-container form.headerSearchform input {
		width: 80%;
	}

	.header-container .navbar-light .navbar-nav .nav-link {
		padding: 0 4rem;
	}

	.btn.btn-green {
		padding: 0.5rem 1.2rem;
	}

	.header-container form.headerSearchform input {
		font-size: 1.13rem;
	}

	/*welcome-banner*/
	.welcome-banner {
		width: 777px;
	}

	.welcome-banner p {
		font-size: 1.13rem;
	}

	.welcome-banner .btn {
		margin: 1.53rem auto 3.13rem auto;
		padding: 1rem 1.2rem;
	}

	.welcome-banner h1 {
		font-size: 2.86rem;
		margin-bottom: 0.53rem;
		margin-top: 3.11rem;
	}

	.GridWorklist {
		margin-top: 4.86rem;
	}

	.Divbanner {
		margin-top: 4.6rem;
	}

	/*DivFluenceGridWork*/
	.DivFluenceGridWork {
		padding: 4.93rem 0 6.13rem 0;
	}

	.DivFluenceGridWork .grid-content {
		margin-top: 2.33rem;
	}

	/*DivAdvancedSearchSolution*/
	.DivEmailfinder {
		margin-top: 7.73rem;
	}

	.DivAdvancedSearchSolution {
		margin-bottom: 8.2rem;
	}

	/*DivTikTokUserSearch*/
	.DivTikTokUserSearch {
		padding-bottom: 8.2rem;
	}

	/**/
	.emailfindertext p {
		font-size: 1.13rem;
		line-height: 1.6rem;
	}

	/*DivTikinNiche*/
	.DivTikinNiche {
		padding-top: 8.66rem;
	}

	.DivTikinNiche .UsernameInput {
		margin-left: 0;
	}

	.DivTikTokUserSearch::before {
		height: 169px;
	}

	.DivTKtokAnalyticgridBox {
		padding: 0 0 5.33rem 0;
	}

	/*DivinfluencersLocation*/
	/* .location-map::after {
		width: 767px;
		height: 450px;
		right: -9px;
	} */

	.DivTikTokUserSearch input, .DivTikinNiche input {
		height: 53px;
		width: calc(100% - 200px);
		padding: 1rem 0.86rem 0.86rem 0.86rem;
		margin-right: 0.86rem;
	}

}

@media only screen and (max-width:1200px) {
	.header-container.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.navbar-brand img {
		width: 181px;
	}
}

@media only screen and (max-width:1199px) {
	/* header */
	.header-container .navbar-light .navbar-nav .nav-link {
		padding: 0 2.66rem;
	}
	form.headerSearchform {
		width: 41%;
		margin: 0 2.1rem 0 1.93rem;
	}
	.header-container form.headerSearchform input {
		font-size: 0.77rem;
		width: calc(100% - 45px);
		margin: 0 !important;
	}
	.Divbanner {
		margin-top: 3.33rem;
	}
	.welcome-banner {
		width: 66.5%;
	}
	.welcome-banner h1 {
		font-size: 2rem;
		margin-bottom: 0.38rem;
		margin-top: 2.2rem;
	}
	.welcome-banner p {
		font-size: 1.13rem;
	}
	.welcome-banner .btn {
		margin: 1.53rem auto 3.13rem auto;
		padding: 1rem 1.2rem;
	}
	.mid-search form.headerSearchform .form-control {
		display: inline-block;
		width: calc(100% - 45px);
	}
	.banner-container {
		padding-bottom: 1.13rem;
	}
	.DivTiktokInfluenceTable {
		padding-top: 2.06rem;
	}
	.DivFluenceGridWork {
		padding: 3.53rem 0 4.4rem 0;
	}
	.GridWorklist {
		margin-top: 3.52rem;
	}
	h2 {
		font-size: 1.73rem;
		line-height: 2.06rem;
	}
	.DivAdvancedSearchSolution {
		margin-bottom: 5.93rem;
	}
	.DivFluenceGridWork .grid-content {
		margin-top: 1.69rem;
	}
	.DivEmailfinder {
		margin-top: 5.53rem;
	}
	.DivTikinNiche {
		padding-top: 6.2rem;
	}
	.DivTikTokUserSearch {
		padding-bottom: 8.2rem;
	}
	.DivDetailsTikTokAnalytics {
		padding: 3.22rem;
	}
	.DivDetailsTikTokAnalytics .section-title p {
		width: 80%;
	}
	.DivTKtokAnalyticgridBox {
		padding: 0 0 3.87rem 0;
	}
	footer {
		padding-top: 2.92rem;
		padding-bottom: 2.36rem;
	}
}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:767px) {
	.DivAnalyticgridGridItems {
		width: 48%;
	}
}

@media only screen and (max-width:567px) {
	.header-container {
		max-width: 100%;
		padding: 0 1rem;
	}

	.welcome-banner {
		width: 340px;
	}

	.container,
	.banner-container {
		max-width: 100%;
		padding: 0 1rem;
	}

	.welcome-banner h1 {
		font-size: 1.73rem;
		line-height: 2.13rem;
	}

	.welcome-banner p {
		font-size: 1.06rem;
		font-weight: normal;
	}

	.welcome-banner .btn {
		margin: 2rem auto;
		padding: 1.06rem 1.33rem;
	}

	.mid-search form.headerSearchform .form-control {
		display: inline-block;
		width: 84%;
	}

	.mid-search {
		margin-left: 0;
		width: 100%;
	}

	.Divbanner::after {
		top: 27.66rem;
		width: 100%;
		background-size: contain;
	}
}